body{
    font-family:Arial, Helvetica, sans-serif;
}

header{
    height: 10vh;
}

header button{
    background-color: #e9e9ed;
}

main{
    background-color: #7fffd4;
    height: 80vh;
}

main .my-grid-container{
    width: 450px;
    height: 450px;
}


main .my-square.my-color-active{
    background-color: #6495ed;
    color: white;
}

footer{
    height: 10vh;
}

